<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <link rel="icon" type="image/x-icon" href="/views/images/WhatsAppImage2024-06-24at7.11.12PM.jpeg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Bienvenido">
  <meta name="description" content="">
  <title>Blum || Perfil</title>
  <link rel="stylesheet" href="./views/nicepage2.css" media="screen">
  <script class="u-script" type="text/javascript" src="./views/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="./views/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 6.12.10, nicepage.com">
</head>

<body class="u-body u-xl-mode" data-style="login-template-1" data-posts=""
  data-global-section-properties="{&quot;code&quot;:&quot;LOGIN&quot;,&quot;colorings&quot;:{&quot;light&quot;:[&quot;clean&quot;,&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;],&quot;dark&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;]},&quot;isPreset&quot;:true}"
  data-source="fix" data-lang="es"
  data-page-sections-style="[{&quot;name&quot;:&quot;login-form-1&quot;,&quot;margin&quot;:&quot;both&quot;,&quot;repeat&quot;:false}]"
  data-page-coloring-types="{&quot;light&quot;:[&quot;clean&quot;,&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;],&quot;dark&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;]}"
  data-page-category="&quot;Login&quot;">
  <section class="u-align-center u-clearfix u-block-e2d2-1" custom-posts-hash="T"
    data-section-properties="{&quot;margin&quot;:&quot;both&quot;,&quot;stretch&quot;:true}" data-id="e2d2"
    data-style="login-form-1" id="sec-35a8">
    <section class="u-clearfix u-header u-block-cf2b-1" custom-posts-hash="[]" data-style="header-imglogo-menu"
      data-post-id="post3"
      data-section-properties="{&quot;grid-spacing&quot;:&quot;0&quot;,&quot;align&quot;:&quot;left&quot;,&quot;stretch&quot;:true}"
      id="sec-9c34" data-source="" data-id="cf2b"  style="background-image: none">

      <style data-mode="XL" data-visited="true">
        @media (max-width: 0px) {
          .u-block-cf2b-1 {
            background-image: none
          }

          .u-block-cf2b-28 {
            min-height: 119px
          }

          .u-block-cf2b-11 {
            margin-top: 38px;
            margin-right: -38.0939px;
            margin-bottom: 37.5782px;
            margin-left: auto
          }

          .u-block-cf2b-18 {
            font-weight: 500;
            font-size: 1rem;
            letter-spacing: normal
          }

          .u-block-cf2b-16 {
            font-size: 1.25rem
          }

          .u-block-cf2b-23 {
            width: 168.453px;
            left: 0px;
            right: auto
          }
        }
      </style>
      <style data-mode="LG">
        @media (max-width: 0px) {
          .u-block-cf2b-1 {
            background-image: none
          }

          .u-block-cf2b-28 {
            min-height: 119px
          }

          .u-block-cf2b-11 {
            width: auto;
            margin-top: 38px;
            margin-right: 55px;
            margin-bottom: 37.5782px;
            margin-left: auto
          }

          .u-block-cf2b-18 {
            font-size: 1rem;
            letter-spacing: normal;
            font-weight: 500
          }

          .u-block-cf2b-16 {
            font-size: 1.25rem
          }

          .u-block-cf2b-23 {
            width: 168.453px;
            left: 0px;
            right: auto
          }
        }
      </style>
      <style data-mode="MD">
        @media (max-width: 0px) {
          .u-block-cf2b-1 {
            background-image: none
          }

          .u-block-cf2b-28 {
            min-height: 119px
          }

          .u-block-cf2b-11 {
            width: auto;
            margin-top: 38px;
            margin-right: -38px;
            margin-bottom: 37.5782px;
            margin-left: auto
          }

          .u-block-cf2b-18 {
            font-size: 1rem;
            letter-spacing: normal;
            font-weight: 500
          }

          .u-block-cf2b-16 {
            font-size: 1.25rem
          }

          .u-block-cf2b-23 {
            width: 168.453px;
            left: 0px;
            right: auto
          }
        }
      </style>
      <style data-mode="SM" data-visited="true">
        @media (max-width: 0px) {
          .u-block-cf2b-1 {
            background-image: none
          }

          .u-block-cf2b-28 {
            min-height: 119px
          }

          .u-block-cf2b-11 {
            width: auto;
            margin-top: 38.422px;
            margin-right: -38px;
            margin-bottom: 0px;
            margin-left: 501.985px
          }

          .u-block-cf2b-18 {
            font-size: 1rem;
            letter-spacing: normal;
            font-weight: 500
          }

          .u-block-cf2b-16 {
            font-size: 1.25rem
          }

          .u-block-cf2b-23 {
            width: 168px;
            left: 0px;
            right: auto
          }
        }
      </style>
      <style data-mode="XS" data-visited="true">
        @media (max-width: 0px) {
          .u-block-cf2b-1 {
            background-image: none
          }

          .u-block-cf2b-28 {
            min-height: 146px
          }

          .u-block-cf2b-11 {
            width: auto;
            margin-top: 52px;
            margin-right: -38px;
            margin-bottom: 52px;
            margin-left: auto
          }

          .u-block-cf2b-18 {
            font-size: 1rem;
            letter-spacing: normal;
            font-weight: 500
          }

          .u-block-cf2b-16 {
            font-size: 1.25rem
          }

          .u-block-cf2b-23 {
            width: 168px;
            left: 0px;
            right: auto
          }
        }
      </style>
      <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-block-cf2b-28"
        style="min-height: 119px">
        <nav class="u-menu u-menu-hamburger u-offcanvas u-block-control u-enable-responsive u-block-cf2b-11"
          data-responsive-from="XL"
          style="margin-top: 38px; margin-right: -38.0939px; margin-bottom: 37.5782px; margin-left: auto" data-block="1"
          data-block-type="Menu">
       <a href="/logout">Cerrar sesión </a>
          <style class="offcanvas-style">
            .u-offcanvas .u-sidenav {
              flex-basis: 250px !important;
            }

            .u-offcanvas:not(.u-menu-open-right) .u-sidenav {
              margin-left: -250px;
            }

            .u-offcanvas.u-menu-open-right .u-sidenav {
              margin-right: -250px;
            }

            @keyframes menu-shift-left {
              from {
                left: 0;
              }

              to {
                left: 250px;
              }
            }

            @keyframes menu-unshift-left {
              from {
                left: 250px;
              }

              to {
                left: 0;
              }
            }

            @keyframes menu-shift-right {
              from {
                right: 0;
              }

              to {
                right: 250px;
              }
            }

            @keyframes menu-unshift-right {
              from {
                right: 250px;
              }

              to {
                right: 0;
              }
            }
          </style>
        </nav><img
          class="u-expanded-height u-image u-image-contain u-image-default u-preserve-proportions u-block-control u-block-cf2b-23"
          src="./views/images/WhatsAppImage2024-06-24at7.11.12PM.jpeg" alt="" data-image-width="500"  data-href="/" data-image-height="500"
          style="width: 168.453px; left: 0px; right: auto" data-block="10" data-block-type="Image">
      </div>
    </section>
    <div class="u-clearfix u-sheet u-block-e2d2-2">
      <h2 class="u-text u-text-default u-block-e2d2-35" >Bienvenido</h2>
<h4 class="u-text u-text-default u-block-e2d2-35">Institución: <% if (datos) { %>
  <%= datos.institución %>
  <% } else {%>
  No asignado
<% } %> </h4>
      <div class="u-form u-login-control u-block-e2d2-24">
        <form action="/perfil" method="POST"
          class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom"
          name="form" style="padding: 10px;" data-services="">
          <div class="u-form-group u-form-name u-block-e2d2-25">
            <label for="cedula" class="u-label u-block-e2d2-26">Cédula</label>
            <input type="text"  <% if (datos) { %> value="<%= datos.cedula %><%}%>" minlength="7" maxlength="8"  pattern="[0-9]{7,8}" placeholder="Ingresa tu cédula" id="cedula" name="cedula"
              class="u-input u-input-rectangle u-none u-block-e2d2-27" required>
          </div>
          <div class="u-form-group u-form-name u-block-e2d2-25">
            <label for="nombres" class="u-label u-block-e2d2-26">Nombres</label>
            <input type="text" placeholder="Ingresa tus nombres"  <% if (datos) { %> value="<%= datos.nombres %><%}%>" id="nombres" name="nombres"
              class="u-input u-input-rectangle u-none u-block-e2d2-27" required>
          </div>
          <div class="u-form-group u-form-name u-block-e2d2-25">
            <label for="apellidos" class="u-label u-block-e2d2-26">Apellidos</label>
            <input type="text" placeholder="Ingresa tus apellidos"  <% if (datos) { %> value="<%= datos.apellidos %><%}%>" id="apellidos" name="apellidos"
              class="u-input u-input-rectangle u-none u-block-e2d2-27" required>
          </div>
          <div class="u-form-group u-form-name u-block-e2d2-25">
            <label for="telefono" class="u-label u-block-e2d2-26">Número de teléfono</label>
            <input type="text" placeholder="Ingresa tu número de teléfono" <% if (datos) { %> value="<%= datos.telefono %><%}%>" id="telefono" name="telefono"
              class="u-input u-input-rectangle u-none u-block-e2d2-27" required minlength="10" maxlength="11"  pattern="[0-9]{10,11}" title="Sólo ingresa números">
          </div>
          <label for="areaInteres" class="u-label u-block-e2d2-26" style="margin-left: 10px;">Área de interés</label>
          <select name="areaInteres" id="areaInteres" required style="margin-left: 10px; margin-bottom: 20px;" class="u-input u-input-rectangle u-none u-block-e2d2-27">
            <option value="" <% if (!datos) {  %>selected<% }  %> disabled>Ingrese su área de interés</option>
            <option value="Mantenimiento de equipos informáticos" <% if (datos) { if (datos.areaInteres === "Mantenimiento de equipos informáticos") { %>selected<% }} %>>Mantenimiento de equipos informáticos</option>
            <option value="Informática forense" <%if (datos) { if (datos.areaInteres === "Informática forense") { %>selected<% }} %>>Informática forense</option>
            <option value="Front-end" <% if (datos) { if (datos.areaInteres === "Front-end") { %>selected<% }} %>>Front-end</option>
            <option value="Back-end" <% if (datos) { if (datos.areaInteres === "Back-end") { %>selected<% }} %>>Back-end</option>
            <option value="Redes" <% if (datos) { if (datos.areaInteres === "Redes") { %>selected<% } }%>>Redes</option>
            <option value="Marketing" <% if (datos) { if (datos.areaInteres === "Marketing") { %>selected<% }} %>>Marketing</option>
            <option value="Desarrollo Web" <% if (datos) { if (datos.areaInteres === "Desarrollo Web") { %>selected<% }} %>>Desarrollo Web</option>
            <option value="Formación" <% if (datos) { if (datos.areaInteres === "Formación") { %>selected<% }} %>>Formación</option>
            <option value="Ciber-Seguridad" <% if (datos) { if (datos.areaInteres === "Ciber-Seguridad") { %>selected<% }} %>>Ciber-Seguridad</option>
                     
          </select>
          <label for="status" class="u-label u-block-e2d2-26" style="margin-left: 10px;">Estatus</label>
          <select name="status" id="status" required style="margin-left: 10px; margin-bottom: 20px;" class="u-input u-input-rectangle u-none u-block-e2d2-27">
            <option value="" <% if (!datos) {  %>selected<% }  %> disabled>Ingrese su estatus</option>
            <option value="Pasante" <% if (datos) { if (datos.status === "Pasante") { %>selected<% }} %>>Pasante</option>
            <option value="Prestador de servicio comunitario" <%  if (datos) { if (datos.status === "Prestador de servicio comunitario") { %>selected<% }} %>>Prestador de servicio comunitario</option>
            <option value="Egresado" <% if (datos) { if (datos.status === "Egresado") { %>selected<% }} %>>Egresado</option>           
          </select>
          <label for="carrera" style="margin-left: 10px;" class="u-label u-block-e2d2-26" >Carrera</label>
          <select required style="margin-left: 10px; margin-bottom: 20px;" class="u-input u-input-rectangle u-none u-block-e2d2-27" name="carrera_id" id="carrera_id">
            <option value="" selected disabled>Ingrese su carrera</option>
            <% for (const carrera of carreras) { %>
              <option value="<%= carrera.id %>" <% if (datos) { if (datos.carrera_id === carrera.id) { %>selected<% }} %>><%= carrera.nombre %></option>
          <% } %>
        </select>

        <input type="text" name="usuario_id" id="usuario_id" value="<%= usuarios.id %>" style="display: none;">
          <div class="u-align-left u-form-group u-form-submit u-block-e2d2-33">
<button type="submit" class="u-btn  u-button-style u-block-e2d2-34">Confirmar</button></div>

        </form>
      </div>
    <style data-mode="XL">
      @media (min-width: 1200px) {
        .u-block-e2d2-2 {
          min-height: 493px;
        }

        .u-block-e2d2-35 {
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-24 {
          width: 570px;
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-27 {
          background-image: none;
        }

        .u-block-e2d2-30 {
          background-image: none;
        }

        .u-block-e2d2-34 {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 0;
          padding-right: 0;
        }

        .u-block-e2d2-21 {
          border-style: solid;
          align-self: center;
          margin-top: 14px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }

        .u-block-e2d2-23 {
          border-style: solid;
          margin-top: 13px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 39px;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    </style>
    <style data-mode="LG" data-visited="true">
      @media (max-width: 1199px) and (min-width: 992px) {
        .u-block-e2d2-2 {
          min-height: 493px;
        }

        .u-block-e2d2-35 {
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-24 {
          width: 570px;
          margin-top: 11px;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: auto;
        }

        .u-block-e2d2-27 {
          background-image: none;
        }

        .u-block-e2d2-30 {
          background-image: none;
        }

        .u-block-e2d2-34 {
          width: 100%;
          padding-top: 10px;
          padding-right: 0;
          padding-bottom: 10px;
          padding-left: 0;
        }

        .u-block-e2d2-21 {
          border-style: solid;
          align-self: center;
          margin-top: 14px;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: 185px;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }

        .u-block-e2d2-23 {
          border-style: solid;
          margin-top: 13px;
          margin-right: 185px;
          margin-bottom: 60px;
          margin-left: auto;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    </style>
    <style data-mode="MD" data-visited="true">
      @media (max-width: 991px) and (min-width: 768px) {
        .u-block-e2d2-2 {
          min-height: 515px;
        }

        .u-block-e2d2-35 {
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-24 {
          width: 570px;
          margin-top: 11px;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: auto;
        }

        .u-block-e2d2-27 {
          background-image: none;
        }

        .u-block-e2d2-30 {
          background-image: none;
        }

        .u-block-e2d2-34 {
          width: 100%;
          padding-top: 10px;
          padding-right: 0;
          padding-bottom: 10px;
          padding-left: 0;
        }

        .u-block-e2d2-21 {
          border-style: solid;
          align-self: center;
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }

        .u-block-e2d2-23 {
          border-style: solid;
          margin-top: 22px;
          margin-right: 273px;
          margin-bottom: 55px;
          margin-left: 273px;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    </style>
    <style data-mode="SM">
      @media (max-width: 767px) and (min-width: 576px) {
        .u-block-e2d2-2 {
          min-height: 515px;
        }

        .u-block-e2d2-35 {
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-24 {
          width: 540px;
          margin-top: 11px;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: auto;
        }

        .u-block-e2d2-27 {
          background-image: none;
        }

        .u-block-e2d2-30 {
          background-image: none;
        }

        .u-block-e2d2-34 {
          width: 100%;
          padding-top: 10px;
          padding-right: 0;
          padding-bottom: 10px;
          padding-left: 0;
        }

        .u-block-e2d2-21 {
          border-style: solid;
          margin-top: 11px;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          align-self: center;
        }

        .u-block-e2d2-23 {
          border-style: solid;
          margin-bottom: 55px;
          margin-top: 22px;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
          margin-left: 183px;
          margin-right: auto;
        }
      }
    </style>
    <style data-mode="XS">
      @media (max-width: 575px) {
        .u-block-e2d2-2 {
          min-height: 515px;
        }

        .u-block-e2d2-35 {
          margin-top: 11px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-e2d2-24 {
          width: 340px;
          margin-top: 11px;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: auto;
        }

        .u-block-e2d2-27 {
          background-image: none;
        }

        .u-block-e2d2-30 {
          background-image: none;
        }

        .u-block-e2d2-34 {
          width: 100%;
          padding-top: 10px;
          padding-right: 0;
          padding-bottom: 10px;
          padding-left: 0;
        }

        .u-block-e2d2-21 {
          border-style: solid;
          margin-top: 11px;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          align-self: center;
        }

        .u-block-e2d2-23 {
          border-style: solid;
          margin-bottom: 55px;
          margin-top: 22px;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
          margin-left: 83px;
          margin-right: auto;
        }
      }
    </style>
  </section>
</body>

</html>